<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/scheduler.css">
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
</head>
<body>
    HERE IS THE PAGE.
    WE SHOULD EXPECT SOME KIND OF HeLLLO WORLDDDD msg
    Need to expect tabs below.
    <div id="reacts-render-id"> </div>
    <script src="./public/bundle.js"></script>

</body>
</html>